Welcome to Spam Encoder!
<br><br>
<textarea id="input_message" class="message_box" rows="10" cols="100" placeholder="Input your message here!" maxlength="200"></textarea><br>
<input type="submit" value="Encode!"><div id="charcount">Characters left: 200</div>
<br><br>
<textarea id="output_message" class="message_box" rows="10" cols="100"></textarea><br>
<input type="submit" value="Decode!">